body{
  font-family: "LG Smart UI";
  margin: 0;
  background-color: #353848;
}
header{
  align-items: center;
  display: grid;
  grid-template-columns: 20px 1fr 50px 50px 20px;
  font-size: 30px;
  padding-top: 20px;
  padding-bottom: 20px;
  font-weight: bold;
  background-color: white;
  position: fixed;
  top: 0;
  width: 100%;
}
.icon{
  text-align: right;
}
main{
  padding-top: 77.9px;
  padding-bottom: 78.2px;
}

.friend{
  display: grid;
  grid-template-columns: 80px auto 1fr 40px;
  grid-template-rows: 3fr 2fr;
  padding: 20px 0;
}
.profilepic{
  align-self: center;
  text-align: center;
  grid-row-start: 1;
  grid-row-end: 3;
}
.lasttalk{
  font-size: 10px;
  color: #9DC8C8;
  align-self: center;
  margin-left: 10px;
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 3;
  grid-column-end: 4;
}
.message{
  font-size: 20px;
  color: white;
  align-self: center;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 3;
  padding: 3px 7px;
  background-image: linear-gradient(to bottom right, #cb7575, #ef9e9f);
  border-radius: 3px;
}

button{
  background: none;
  border: none;
  border-radius: 5px;
  padding: 12px 15px;
  text-align: center;
  display: inline-block;
}
input{
  width: 100%;
  background-color: #a3c9c7;
  border: none;
  border-radius: 5px;
  color: #353848;
  padding: 15px 0px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
footer{
  background-color: white;
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 10px 0px;
  display: grid;
  grid-template-columns: 10px 1fr 50px;
}
@keyframes mainin {
  from{
    margin-top: 70%;
  }
  50%{
    padding-top: 60px;
    margin-top: 0;
  }
  to{
    padding-top: 77.9px;
    margin-top: 0;
  }
}
main{
  animation-duration: 0.6s;
  animation-name: mainin;
}
