body{
  font-family: "LG Smart UI";
  margin: 0;
}
header{
  align-items: center;
  display: grid;
  grid-template-columns: 20px 1fr 50px 50px 20px;
  font-size: 30px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: 1.5px solid #9DC8C8;
  font-weight: bold;
  background-color: white;
  position: fixed;
  top: 0;
  width: 100%;
}
.icon{
  text-align: right;
}
main{
  padding-top: 77.9px;
  padding-bottom: 78.2px;
}
footer{
  background-color: white;
  position: fixed;
  bottom: 0;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  border-top: 1.5px solid #9DC8C8;
}
.me{
  display: grid;
  grid-template-columns: 80px 1fr;
  grid-template-rows: 3fr 2fr;
  padding: 20px;
  padding-left: 0px;
  border-bottom: 1px solid #9DC8C8;
}
.friend{
  display: grid;
  grid-template-columns: 60px auto 1fr 40px;
  grid-template-rows: 3fr 2fr;
  padding: 10px;
}
.mypic img{
  width: 50px;
}
.profilepic img{
  width: 40px;
}
.profilepic{
  align-self: center;
  text-align: center;
  grid-row-start: 1;
  grid-row-end: 3;
}
.mypic{
  align-self: center;
  text-align: center;
  grid-row-start: 1;
  grid-row-end: 3;
}
.name{
  font-size: 20px;
  align-self: center;
  grid-column-start: 2;
  grid-column-end: 4;
}
.state{
  font-size: 10px;
  align-self: center;
  grid-column-start: 2;
  grid-column-end: 3;
}
.lasttalk{
  font-size: 10px;
  color: #9DC8C8;
  align-self: center;
  margin-left: 10px;
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 3;
  grid-column-end: 4;
}
.add{
  align-self: center;
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 3;
}
.kind{
  padding: 10px;
}
.icon img{
  width: 30px;
}
.menu_icon img{
  height: 35px;
}
.addby{
  text-align: center;
}
.addby img{
  width: 40px;
}
@keyframes menuin {
  from{
    height: 0;
  }
  50%{
    height: 42px;
  }
  to{
    height: 38.2px;
  }
}
.menu_icon{
  text-align: center;
  padding: 20px;
  animation-duration: 0.6s;
  animation-name: menuin;
}
@keyframes mainin {
  from{
    margin-top: 70%;
  }
  50%{
    padding-top: 60px;
    margin-top: 0;
  }
  to{
    padding-top: 77.9px;
    margin-top: 0;
  }
}
main{
  animation-duration: 0.6s;
  animation-name: mainin;
}
#add-friend{
  display: grid;
  padding: 30px;
  grid-template-columns: 1fr 1.5fr 1fr 1fr;
}





@media (max-width : 500px) {
  header{
    grid-template-columns: 10px 1fr 30px 30px 10px;
    font-size: 20px;
    padding: 10px 0;
  }
  .icon img{
    width: 20px;
  }
  main{
    padding-top: 46.3px;
    padding-bottom: 49.7px;
  }
  .me{
    display: grid;
    grid-template-columns: 80px 1fr;
    grid-template-rows: 3fr 2fr;
    padding: 20px;
    padding-left: 0px;
    border-bottom: 1px solid #9DC8C8;
  }
  .friend{
    grid-template-columns: 50px auto 1fr 25px;
  }
  .name{
    font-size: 15px;
  }
  .state{
    font-size: 10px;
  }
  .lasttalk{
    font-size: 10px;
    margin-left: 6px;
  }
  .mypic img{
    width: 40px;
  }
  .profilepic img{
    width: 30px;
  }
  .kind{
    font-size: 12px;
    padding: 5px;
  }
  .menu_icon img{
    height: 25px;
  }
  @keyframes menuin {
    from{
      height: 0;
    }
    50%{
      height: 33px;
    }
    to{
      height: 28.2px;
    }
  }
  @keyframes mainin {
    from{
      margin-top: 70%;
    }
    50%{
      padding-top: 35px;
      margin-top: 0;
    }
    to{
      padding-top: 46.3px;
      margin-top: 0;
    }
  }
  .menu_icon{
    padding: 10px;
  }
  .addby{
    text-align: center;
  }
  .addby img{
    width: 25px;
  }
  .addfriend{
    font-size: 10px;
  }
  #add-friend{
    display: grid;
    padding: 30px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
