body{
  font-family: "LG Smart UI";
  margin: 0;
}
header{
  align-items: center;
  display: grid;
  grid-template-columns: 20px 1fr 50px 50px 20px;
  font-size: 30px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: 1.5px solid #9DC8C8;
  font-weight: bold;
  background-color: white;
  position: fixed;
  top: 0;
  width: 100%;
}
.icon{
  text-align: right;
}
main{
  padding-top: 77.9px;
  padding-bottom: 78.2px;
}
footer{
  background-color: white;
  position: fixed;
  bottom: 0;
  width: 100%;
}
.friend{
  display: grid;
  grid-template-columns: 80px auto 1fr 40px;
  grid-template-rows: 3fr 2fr;
  padding: 10px;
}
.profilepic{
  align-self: center;
  text-align: center;
  grid-row-start: 1;
  grid-row-end: 3;
}
.name{
  font-size: 20px;
  align-self: center;
  grid-column-start: 2;
  grid-column-end: 4;
}
.state{
  font-size: 10px;
  align-self: center;
  grid-column-start: 2;
  grid-column-end: 3;
}
.lasttalk{
  font-size: 10px;
  color: #9DC8C8;
  align-self: center;
  margin-left: 10px;
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 3;
  grid-column-end: 4;
}
.add{
  align-self: center;
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 3;
}
.kind{
  padding: 10px;
}
.menu_icon img{
  height: 35px;
}
.menu_icon{
  text-align: center;
  padding: 20px;
}
footer{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  border-top: 1.5px solid #9DC8C8;
}
